azuredatafactory/pipeline/F1_Transformation_Pipeline.json
{
	"name": "F1_Transformation_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Formula1_Dataset_raw",
						"type": "DatasetReference",
						"parameters": {
							"window_end_date_dataset": {
								"value": "@formatDateTime(pipeline().parameters.window_end_date, 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.Exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Transform Race Results",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Project-Papaya/presentation/1.race_results",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Formula1Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Transform Driver Standing",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Transform Race Results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Project-Papaya/presentation/2.driver_standings",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Formula1Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Transform Constructor Standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Transform Race Results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Project-Papaya/presentation/3.constructor_standings",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Formula1Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Transform Calculated Race Results",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Project-Papaya/presentation/4.calculated_race_results",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Formula1Databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"window_end_date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}